body{
    padding: 0;
    margin: 0;
}

form{
    padding: 0;
    margin: 0;
    width: 300px;
    margin: 50px 650px;
}

table tr th{
    background: indigo;
    color: white;
}
table tr td{
    background: lightcyan;
    color: black;
}